@import "tailwindcss";

:root {
  --background-mobile: url('/background-pattern-mobile.svg');
  --background-desktop: url('/background-pattern-desktop.svg')
}

body {
  background-color: #f8eeff;
  /* position: relative; */
}